.form {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 20px;
    &-input {
        padding: 5px 10px;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        margin-right: 10px;
        background: transparent;
        color: rgba(255, 255, 255, 0.6);
        transition: all linear 0.1s;
    }
    &-input:focus {
        color: #fff;
        border: none;
    }

    &-btn {
        height: 100%;
        padding: 0 20px;
        cursor: pointer;
        border: none;
        transition: all linear 0.1s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    &-btn,
    &-input {
        font-size: 16px;
        border-radius: 5px;
    }
}
